<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

</head>

<body>
    <main>
        <h1>Productos</h1>
        <section>
            {{#if products}}

            <div class="contenedor-productos">
                {{#each products}}
                <div class="productos">
                    {{#if this.thumbnails}}
                    <img src="{{this.thumbnails}}" alt="{{this.title}}">
                    {{else}}
                    <img src="/src/agotado.jpg" alt="nodisponible">
                    {{/if}}
                    <div class="descrip-productos">
                        <p>{{this.description}}</p>
                        <h2>${{this.price}}</h2>
                        <button onclick="addToCart('{{this._id}}')">Add Cart</button>
                    </div>

                </div>
                {{/each}}


            </div>
            <div class="pagination">
                {{#if hasPrevPage}}
                <a href="{{prevLink}}">⬅️ Anterior</a>
                {{/if}}
                <span>Página actual: {{currentPage}}</span>
                {{#if hasNextPage}}
                <a href="{{nextLink}}">Siguiente ➡️</a>
                {{/if}}
            </div>
            {{else}}
            <div class="productoNoDisponible">
                <p>REGALÁ DEPORTE DISEÑO Y MOVIMIENTO</p>
                <img src="https://images.pexels.com/photos/866023/pexels-photo-866023.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="deporte">
            </div>
            {{/if}}
        </section>
    </main>
</body>
<script>
    async function addToCart(pid) {
        try {
            const response = await fetch(`/cart/${pid}`, { method: "POST" })
           
            const data = await response.json()
            if (response.ok) {
                Swal.fire("✅ Agregado", "Product Add to Cart", "success");

                if(data.cart && data.cart.products){
                    const total = data.cart.products.reduce((acc,p)=>acc+p.quantity,0)
                    const cartCount=document.getElementById("cart-count")
                    if(cartCount) cartCount.innerText=total
                }
            }else{
                Swal.fire("❌ Error", data.error || "can't add to cart", "error"); 
            }
        } catch (err) {
            Swal.fire("❌ Error1", err.message, "error");
        }
    }
</script>


</html>